{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moneydero</title>
    <link href="{% static 'moneydero/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'moneydero/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'moneydero/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'moneydero/js/bootstrap-toggle.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Moneydero</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <form method="POST" id="form_categoria">{% csrf_token %}
                            <input type="hidden" name="categoria" id="field_categoria">
                        </form>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.categoria | default:"Todas las categorías" }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;" onClick="document.getElementById('field_categoria').value='0'; document.getElementById('form_categoria').submit();">Todas las categorías</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% for categoria in user.perfil.categorias %}
                                <li>
                                    <form method="POST" id="Categoria{{ categoria.pk }}">{% csrf_token %}
                                        <input type="hidden" name="categoria" value="{{ categoria.pk }}">
                                    </form>
                                    <a href="javascript:;" onClick="document.getElementById('field_categoria').value='{{ categoria.pk }}'; document.getElementById('form_categoria').submit();">{{ categoria }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <form method="POST" id="form_periodo">{% csrf_token %}
                            <input type="hidden" name="periodo" id="field_periodo">
                            <input type="hidden" name="desde" id="field_desde">
                            <input type="hidden" name="hasta" id="field_hasta">
                        </form>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.periodo | default:"Siempre" }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Siempre'; document.getElementById('form_periodo').submit();">Siempre</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Hoy'; document.getElementById('form_periodo').submit();">Hoy</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Esta semana'; document.getElementById('form_periodo').submit();">Esta semana</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Este mes'; document.getElementById('form_periodo').submit();">Este mes</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Este año'; document.getElementById('form_periodo').submit();">Este año</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Últimas 24 horas'; document.getElementById('form_periodo').submit();">Útimas 24 horas</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Última semana'; document.getElementById('form_periodo').submit();">Última semana</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Último mes'; document.getElementById('form_periodo').submit();">Últimos mes</a></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='Último año'; document.getElementById('form_periodo').submit();">Último año</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:;" onClick="document.getElementById('field_periodo').value='personalizado'; document.getElementById('form_periodo').submit();">Intervalo personalizado</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Todas las cuentas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Todas las cuentas</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Concepto" id="id_filtro_concepto">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Categorias</a></li>
                            <li><a href="#">Cuentas</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"{% block resumen %}{% endblock %}><a href="/resumen/">Resumen</a></li>
                    <li role="presentation"{% block movimientos %}{% endblock %}><a href="/movimientos/">Movimientos</a></li>
                </ul>
            </div>
            <div class="col-sm-10 main">
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
