{% extends 'moneydero/base.html' %}{% load staticfiles %}
{% block contenido %}
<form class="form-inline" method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="id_username">Usuario</label>
    <input type="text" class="form-control" id="id_username" name="username">
  </div>
  <div class="form-group">
    <label for="id_password">Contraseña</label>
    <input type="password" class="form-control" id="id_password" name="password">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>
{% endblock %}
