{% extends 'moneydero/base.html' %}{% load staticfiles %}
{% block movimientos %} class="active"{% endblock %}
{% block contenido %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#modalPlus"><span class="glyphicon glyphicon-plus"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<table class="table table-hover">
    <tr>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Concepto</th>
        <th>Categoría</th>
        <th>Cuenta</th>
        <th>Saldo</th>
    </tr>
    {% for movimiento in movimientos %}
    <tr>
        <td>{{ movimiento.fecha.date }}</td>
        <td{% if movimiento.importe < 0 %} class="text-danger"{% endif %}>{{ movimiento.importe }}</td>
        <td>{{ movimiento.concepto }}</td>
        <td>{{ movimiento.categoria }}</td>
        <td>{{ movimiento.cuenta }}</td>
        <td{% if movimiento.importe < 0 %} class="text-danger"{% endif %}>{{ movimiento.saldo }}</td>
    </tr>
    {% endfor %}
</table>
<div class="modal fade" id="modalPlus">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="form_asiento">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Insertar movimiento</h4>
                </div>
                <div class="modal-body">
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_fecha">Fecha</label>
                                {{ form.fecha.errors }}
                                <input type="text" id="id_fecha" name="fecha" class="form-control" value="{% now "d/m/Y" %}">
                            </div>
                            <div class="form-group">
                                <label for="id_cuenta">Cuenta</label>
                                {{ form.cuenta.errors }}
                                <select id="id_cuenta" name="cuenta" class="form-control">
                                    {% for cuenta in user.perfil.cuentas %}
                                        <option value="{{ cuenta.pk }}">{{ cuenta }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_categoria">Categoría</label>
                                {{ form.categoria.errors }}
                                <select id="id_categoria" name="categoria" class="form-control">
                                    {% for categoria in user.perfil.categorias %}
                                        <option value="{{ categoria.pk }}">{{ categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_concepto">Concepto</label>
                                {{ form.concepto.errors }}
                                <textarea name="concepto" id="id_concepto" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="id_cantidad">Cantidad</label>
                                {{ form.cantidad.errors }}
                                <div class="row">
                                    <div class="col-xs-3">
                                        <input data-toggle="toggle" type="checkbox" data-on="+" data-off="-" name="signo">
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="input-group">
                                            <input type="number" step="0.01" min="0" class="form-control" id="id_cantidad" name="cantidad">
                                            <div class="input-group-addon">€</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar movimiento</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script>
$(function() {
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $( "#id_fecha" ).datepicker({ dateFormat: 'dd/mm/yy' });
});

$('#modalPlus').on('hidden.bs.modal', function (e) {
    $("#form_asiento")[0].reset();
})
</script>
{% endblock %}
