{% extends 'moneydero/base.html' %}{% load staticfiles %}
{% block resumen %} class="active"{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Saldo</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for categoria in categorias %}
                        <li class="list-group-item">
                            {{ categoria }}<span class="badge">{{ categoria.saldo }}</span>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
